<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>UNO | CSC667 Term Project</title>
    <link rel="stylesheet" type="text/css" href="resources/style/index.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<div class="main-container">
    <header class="cr-header d-flex justify-content-between">
        <h1 class="cr-main-title">Card Royale.</h1>
        <div class="cr-login"> 
            <button class="cr-button" id="account-details-button" href="/"><%= name %></button>
            <form action="/logout?_method=DELETE" method="POST"><button type="submit" action="/logout?_method=DELETE" method="POST" class="cr-button" id="logout-button">Logout</button></form>
        </div>
    </header>
    <body>
        <div class="cr-body-container row">
            <div class="cr-lobby-list column">
                <form action="?" method="GET"><button name="Lobby" value="1" class="cr-button cr-add-lobby">🎮 Lobby-1</button></form>
                <form action="?" method="GET"><button name="Lobby" value="2" class="cr-button cr-add-lobby">👾 Lobby-2</button></form>
                <form action="?" method="GET"><button name="Lobby" value="3" class="cr-button cr-add-lobby">🕹️ Lobby-3</button></form>
                <button class="cr-button cr-add-lobby"><img src="resources/images/add-36px.svg" alt="Add"></button>
            </div>
            <div class="cr-game-content column">
                <div id="cr-deck" onclick="drawCard()">DRAW</div>
                <div id="table-card">UNO</div>
                <div class="cards-in-hand">
                    <div id="card0"></div>
                    <div id="card1"></div>
                    <div id="card2"></div>
                    <div id="card3"></div>
                    <div id="card4"></div>
                    <div id="card5"></div>
                    <div id="card6"></div>
                    <div id="card7"></div>
                    <div id="card8"></div>
                    <div id="card9"></div>
                    <div id="card10"></div>
                    <div id="card11"></div>
                    <div id="card12"></div>
                    <div id="card13"></div>

                    <div id="cr-game-start" class="cr-game-start">
                        <h2 class="cr-title">Welcome to CardRoyale.</h2>
                        <div>Players</div>
                        <div id="player-list"></div>
                        <form id="cr-game-join">
                            <button class="cr-button">Join</button>
                        </form>
                        <form class="cr-hidden" id="cr-game-leave">
                            <button class="cr-button">Leave</button>
                        </form>
                    </div>
                    <div class="cr-game-progress">
                        <h2 class="cr-title"><%= name %>'s Turn</h2>
                        <div class="cr-game-enemy-right">
                            <div class="cr-card-back cr-game-right-card">?</div>
                        </div>
                        <div class="cr-game-enemy-top">
                            <div class="cr-card-back cr-game-top-card">?</div>
                        </div>
                        <div class="cr-game-enemy-left">
                            <div class="cr-card-back cr-game-left-card">?</div>
                        </div>
                        <div class="cr-game-draw">
                            <div class="cr-discard-card">?</div>
                            <form id="cr-draw">
                                <button class="cr-card-back cr-draw-card">?</button>
                            </form>
                        </div>
                        <div class="cr-game-hand"></div>
                    </div>
                </div>
            </div>
            <div class="cr-chat column">
                <h2 class="cr-title">Chat</h2>
                <div id="cr-chat-container" class="cr-chat-box"></div>
                <form id="cr-chat" class="chat-input">
                    <input id="message" autocomplete="off" type="text" placeholder="Type Here...">
                    <button class="chat-send">Send</button>
                </form>
            </div>
        </div>
    </body>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="resources/scripts/lobby.js"></script>

</html>