/**
    Color Reference:
    Main Blue:          #197278
    Secondary Blue:     #283D3B
    Off-White:          #EDDDD4
    Link Colors:        #C44536;
                        #772E25;
    Aquamarine:         #4CE0B3
    Ruby:               #D81E5B
    Blush:              #E75A7C
    Papaya Whip         #FDF0D5
    Opal                #C6D8D3
    Twilight Lavender   #80475E
    Baby Powder:        #FBFEF9
**/

:root {
    --cr-ruby: #D81E5B;
    --cr-lavender: #80475E;
    --cr-white: #FBFEF9;
    --cr-black: #1B2021;
    --cr-blush: #E75A7C;
    --cr-opal: #C6D8D3;

    --cr-green4: #629677;
    --cr-green5: #495D63;
    --cr-green3: #98B6B1;

    --cr-green1: #197278;
    --cr-green2: #283D3B;

    /* Adjust Here */
    --cr-main: var(--cr-green1);
    --cr-accent-primary: var(--cr-green2);
    --cr-accent-secondary: var(--cr-green3);
    --cr-bg: var(--cr-white);
    --cr-text: #1B2021;
}

@font-face {
    font-family: 'Gotham Medium';
    src: url("/resources/font/Gotham-Medium_0.otf") format("opentype");
}

@font-face {
    font-family: 'Gotham Light';
    src: url("/resources/font/Gotham-Light_0.otf") format("opentype");
}

.main-container {
    font-family: 'Gotham Medium';
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    background: var(--cr-white);
    height: 100vh;
    width: 100vw;
}

.cr-header {
    padding: 10px 25px 5px 25px;
    background-color: var(--cr-main);
    color: var(--cr-white);
    border-bottom: 5px solid var(--cr-accent-primary);
}
.cr-main-title {
    margin-top: 8px;
    font-size: 40px;
    font-weight: bold;
}
    
.cr-login {
    font-size: 20px !important;
    display:inherit;
}

.cr-button {
    height: 40px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    color: var(--cr-white);
    padding: auto;
    border-radius: 5px;
    border: none;
    background: var(--cr-main);
    transition: 0.3s;
}

.cr-button:hover {
    background: var(--cr-accent-secondary);
}

.cr-button:active {
    outline: 0;
}

.cr-button:focus {
    outline: 0;
}

.cr-login-popup {
    position: absolute;
    background: rgba(0,0,0,0.6);
    width: 100vw;
    height: 100vh;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 100;
}

.cr-signup-popup {
    position: absolute;
    background: rgba(0,0,0,0.6);
    width: 100vw;
    height: 100vh;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 100;
}

.cr-login-popup-content {
    padding: 40px;
    width: 600px;
    height: 320px;
    position: relative;
    background: var(--cr-main);
    text-align: center;  
    border-radius: 20px;
    box-shadow: 6px 6px 24px -6px var(--cr-black);
    z-index: 100;
}

.cr-signup-popup-content {
    padding: 40px;
    width: 600px;
    height: 400;
    position: relative;
    background: var(--cr-main);
    text-align: center;  
    border-radius: 20px;
    box-shadow: 6px 6px 24px -6px var(--cr-black);
    z-index: 100;
}

.cr-close {
    position: absolute;
    right: -8px;
    top: -8px;
    cursor: pointer;
    border: 2px var(--cr-white) solid;
    border-radius: 50%;
}

.cr-login-popup-content input {
    font-family: 'Gotham Light';
    margin: 20px auto !important;
    font-weight: normal;
    display: block;
    width: 75%;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.cr-signup-popup-content input {
    font-family: 'Gotham Light';
    margin: 20px auto !important;
    display: block;
    width: 75%;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.cr-signup-popup h2{
    color: var(--cr-white);
    font-size: 36px;
    font-weight: bold;
}

.cr-login-popup h2{
    color: var(--cr-white);
    font-size: 36px;
    font-weight: bold;
}

.cr-body-container {
    position: relative;
    height: 750px;
    width: 1500px;
    margin: 40px 0px !important;
    left: 50%;
    transform: translate(-50%, 0);
}

.cr-lobby-list {
    background: var(--cr-opal);
    width: 250px;
}

.cr-game-content {
    background: var(--cr-green1);
    width: 800px;
    text-align: center;
}

.cr-game-start {
    position: absolute;
    padding: 20px;
    width: 800px;
    height: 100%;
    background: var(--cr-green1);
    z-index: 5;
}

.cr-game-progoress {
    z-index: 1;
}

.cr-game-hand {
    position: absolute;
    bottom: 0px;
    background-color: var(--cr-white);
    margin: 20px;
    padding: 15px 10px 20px 10px;
    width: 760px;
    height: 165px;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
}

.cr-card-inhand {
    background: var(--cr-ruby);
    margin: 0px 5px;
    padding: 20px;

}

.cr-card-inhand:hover {
    transform: scale(1.2,1.2);
}

.cr-card-front {
    border-radius: 5px;
    height: 120px;
    width:  80px;
    color: var(--cr-white);
    font-weight: bold;
    font-size: 56px;
    float: left;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.cr-card-back {
    background: var(--cr-black);
    border-radius: 5px;
    margin: 0px 10px;
    padding-top: 6px;
    height: 120px;
    width:  80px;
    border: 10px solid var(--cr-white);
    color: var(--cr-white);
    font-weight: bold;
    font-size: 56px;
    cursor: pointer;
}

.cr-draw-card {
    position: absolute;
    top: 50%;
    left: 660px;
}

.cr-draw-card:focus {
    outline: none;
}

.cr-discard-card {
    position: absolute;
    top: 50%;
    left: 540px;
    background: var(--cr-green4);
    border-radius: 5px;
    margin: 0px 10px;
    padding-top: 15px;
    height: 120px;
    width:  80px;
    color: var(--cr-white);
    font-weight: bold;
    font-size: 56px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.cr-game-left-card {
    position: absolute;
    top: 200px;
    left: 280px;
    transform: rotate(90deg);
}

.cr-game-right-card {
    position: absolute;
    top: 200px;
    left: 920px;
    transform: rotate(-90deg);
}

.cr-game-enemy-top {
    text-align: center;
    display: flex;
}

.cr-game-top-card {
    margin: 0px auto;
    transform: rotate(180deg);
}

.cr-chat {
    background: var(--cr-green2);
    width: 450px;
    text-align: center;
}

.cr-title {
    padding: 20px;
    font-weight: bold;
    margin: 0px;
    text-align: center;
    color: var(--cr-white);
    font-size: 32px;
}

.chat-input {
    padding: 20px;
    position: relative;
    height: 30px;
    width: 450px;
    border-radius: 5px;
    border: none;
}

.chat-input input {
    width: 340px;
    border-radius: 5px;
}

.chat-send {
    border: none;
    background: var(--cr-green2);
    color: var(--cr-white);
}

.chat-send:focus {
    outline: none;
}

.cr-chat input {
    font-family: 'Gotham Light';
}

.cr-chat input:focus {
    outline: 0;
}

.cr-chat-box {
    background: var(--cr-white);
    padding: 10px;
    width: 450px;
    height: 600px;
    overflow-y: auto;
    border-left: 20px solid var(--cr-green5);
    border-right: 20px solid var(--cr-green5);
}

.cr-chat-message {
    display: flex;
    color: var(--cr-black);
    font-size: 12px;
    text-align: left;
    font-size: 16px;
    border-bottom: 1px dashed var(--cr-green3);
}

.cr-chat-name {
    font-family: 'Gotham Medium';
    margin: 0px;
    font-size: 16px;
}

.cr-chat-message-content {
    font-family: 'Gotham Light';
    margin: 0px 0px 0px 5px;
}

.cr-lobby-list {
    text-align: center;
    padding: 20px;
}

.cr-lobby-list .cr-add-lobby {
    display: inline-block;
    cursor: pointer;
    width: 200px;
    height: 60px;
    background: var(--cr-green5);
    text-align: center;
    border-radius: 5px;
    padding-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}

.cr-lobby-list .cr-add-lobby:hover {
    background: var(--cr-green1);
}

.cr-lobby-list .cr-add-lobby:active {
    background: var(--cr-green3);
}

.cr-lobby-list .cr-add-lobby:focus {
    outline: 0;
}

.console-text {
    margin: 0px;
    font-style: italic;
    font-size: 12px;
    color: var(--cr-green5);
}

.cr-hidden {
    display: none;
}